.chatList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatList hr {
  border: none;
  height: 2px;
  background-color: #ddd;
  opacity: 0.1;
  border-radius: 5px;
  margin: 20px 0px;
}

.chatList .title {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 10px;
}

.chatList .list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.chatList .list a {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.chatList .list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chatList a {
  padding: 10px;
  border-radius: 10px;
}

.chatList a:hover {
  background-color: #2c2937;
}

.chatList .upgrade {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.chatList .upgrade img {
  width: 24px;
  height: 24px;
}

.chatList .upgrade .texts {
  display: flex;
  flex-direction: column;
}

.chatList .upgrade .texts span:first-child {
  font-weight: 600;
}

.chatList .upgrade .texts span:last-child {
  color: #888;
}

.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.chat-item:hover .delete-btn {
  opacity: 1;
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2c2937;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
}

.confirmation-modal button {
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-modal button:first-of-type {
  background-color: #e55571;
}

.confirmation-modal button:last-of-type {
  background-color: #217bfe;
}

@media (max-width: 768px) {
  .chatList {
    width: 100%;
    height: auto;
  }

  .chatList .list {
    max-height: 300px;
  }

  .chat-item {
    padding: 10px 5px;
  }

  .delete-btn {
    opacity: 1;
    font-size: 14px;
  }
}